<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <div style="text-align:center">
                  <h1>
                    Welcome to EAA 690's Ground School!
                  </h1>
                  <img width="300" alt="EAA690 Logo" src="https://storage.googleapis.com/groundschool.starfireaviation.com/EAA_690_Logo.png">
                </div>
                <div style="text-align:center">
                  <h2>
                    This site is still under construction, please check back soon!
                  </h2>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

